<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParserClient"
          publicKeyToken="89845dcd8080cc91"
          culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MyVeryPrimitiveBank" providerName="System.Data.SqlClient" connectionString="Data Source=XXXXXXXXX; Initial Catalog=YYYYYYYYYY; User Id=ZZZZZZZZZ; Password=WWWWWWWWWWWW"/>
  </connectionStrings>
</configuration>